{% extends 'template.html.twig' %}
{% block style %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Ajouter un member</title>
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets_dashboard/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ asset('assets_dashboard/img/favicon.png') }}">
{% endblock %}
{% block content %}
    <div class="card p-3 m-4">
        {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
        <div class="card-body">
            {{ form_rest(form) }}
            
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary" style="background-color:  #F6BB10; border-color:  #F6BB10; color: black;">Ajouter un member</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}