{% extends 'template.html.twig' %}

{% block content %}
    <h1>informations personnelles</h1>
    .<div class="alert alert-success" role="alert">
      {# <h4 class="alert-heading">{{personne}}</h4> #}
      <h3>{{personne.firstname}} {{personne.name}}</h3>
      <h5>{{personne.age}}</h5>
      <h6>{{personne.job}}</h6>
      {% if app.user %}
      <p>Created By : {{app.user.email()}}</p>
      {% endif %}
    </div>
{% endblock %}