{% extends 'template.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-info" role="alert">
            {{msg}}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{msg}}
        </div>
    {% endfor %}
    <div class="row" style="justify-content:center;padding:1rem;gap:1rem">
    {% for personne in personnes %}
            <div class="card" style="width: 18rem; gap:2rem">
                {# <img class="card-img-top" src="..." alt="Card image cap"> #}
                
                    <div class="card-body">
                    {# {{dump(personnes)}} #}
                    <h4>{{personne.id}}</h4>
                    <h5 class="card-title">{{personne.firstname}} {{personne.name}}</h5>
                    <h6 class="card-text">{{personne.job}}</h6>
                    <p class="card-text">{{personne.age}}</p>
                    <a href={{path('app_personne_details', {id:personne.id, name:personne.firstname})}} class="btn btn-primary">détails</a>
                    {% if(is_granted('ROLE_ADMIN')) %}
                        <a href={{path('app_personne_delete', {id:personne.id})}} class="btn btn-primary">delete</a>
                        <a href={{path('app_personne_edit', {id:personne.id})}} class="btn btn-primary">edit</a>
                    {% endif %}
                </div>
                
            </div>
    {% endfor %}
    </div>
    {% if isPaginated %}
    {{dump(nbrPage)}}
    <nav aria-label="Page navigation example" class="mt-2">
        <ul class="pagination">
            {% if page != 1 %}
            <li class="page-item"><a class="page-link" href="{{path('app_personne_alls',{page:page - 1,nbr:nbre})}}">Previous</a></li>
            {% endif %}
            {% for i in range(1, nbrPage) %}
                <li class="page-item"><a class="page-link" href="{{path('app_personne_alls', {page:i, nbr:nbre})}}">{{i}}</a></li>
            {% endfor %}
            {% if page != nbrPage %}
            <li class="page-item"><a class="page-link" href="{{path('app_personne_alls',{page:page + 1,nbr:nbre})}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
