{% extends 'template.html.twig' %}

{% block content %}
    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-info" role="alert">
            {{msg}}
        </div>
    {% endfor %}
    <div class="row" style="justify-content:center;padding:1rem;gap:1rem">
    {% for personne in personnes %}
            <div class="card" style="width: 18rem; gap:2rem">
                {# <img class="card-img-top" src="..." alt="Card image cap"> #}
                
                    <div class="card-body">
                    {# {{dump(personnes)}} #}

                    <h5 class="card-title">{{personne.firstname}} {{personne.name}}</h5>
                    <h6 class="card-text">{{personne.job}}</h6>
                    <p class="card-text">{{personne.age}}</p>
                    <a href={{path('app_personne_details', {id:personne.id, name:personne.firstname})}} class="btn btn-primary">détails</a>
                    <a href={{path('app_personne_delete', {id:personne.id})}} class="btn btn-primary">delete</a>
                </div>
                
            </div>
    {% endfor %}
    </div>
</div>

{% endblock %}