{% extends 'template.html.twig' %}

{% block style %}
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets_dashboard/img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ asset('assets_dashboard/img/favicon.png') }}">
  <title>
    Soft UI Dashboard 3 by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="https://demos.creative-tim.com/soft-ui-dashboard/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- CSS Files -->
  <link id="pagestyle" href="{{ asset('assets_dashboard/css/soft-ui-dashboard.css?v=1.1.0') }}" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
{% endblock %}

{% block content %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="card">
                <span class="mask bg-primary opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl">
                        <i class="ni ni-circle-08 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        {% if(is_granted('ROLE_ADMIN')) %}
                          {{nbrAllProjects}}
                        {% else %}
                          {{nbrProjectPerso}}
                        {% endif %}
                      </h5>
                      <span class="text-white text-sm">Nombre de project</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers1">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0 random-percentage" data-random>--%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
              <div class="card">
                <span class="mask bg-dark opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl">
                        <i class="ni ni-active-40 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        {% if(is_granted('ROLE_ADMIN')) %}
                          {{allTasksTermine}}
                        {% else %}
                          {{taskPersoTermine}}
                        {% endif %}
                      </h5>
                      <span class="text-white text-sm">Tâches réalisées</span>
                    </div>
                    <div class="col-4">
                      <div class="dropstart text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers2" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers2">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0 random-percentage" data-random>--%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="card">
                <span class="mask bg-dark opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl">
                        <i class="ni ni-cart text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        {% if(is_granted('ROLE_ADMIN')) %}
                          {{allTasksRestant}}
                        {% else %}
                          {{taskPersoRestant}}
                        {% endif %}
                      </h5>
                      <span class="text-white text-sm">Tâches restantes</span>
                    </div>
                    <div class="col-4">
                      <div class="dropdown text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers3" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers3">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                        <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0 random-percentage" data-random>--%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
              <div class="card">
                <span class="mask bg-dark opacity-10 border-radius-lg"></span>
                <div class="card-body p-3 position-relative">
                  <div class="row">
                    <div class="col-8 text-start">
                      <div class="icon icon-shape bg-white shadow text-center border-radius-2xl">
                        <i class="ni ni-like-2 text-dark text-gradient text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                      <h5 class="text-white font-weight-bolder mb-0 mt-3">
                        {{nbrMembers}}
                      </h5>
                      <span class="text-white text-sm">Nombre de membres</span>
                    </div>
                    <div class="col-4">
                      <div class="dropstart text-end mb-6">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownUsers4" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-white"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3" aria-labelledby="dropdownUsers4">
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                          <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                        </ul>
                      </div>
                      <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0 random-percentage" data-random>--%</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if(is_granted('ROLE_ADMIN')) %}
          <div class="col-lg-6 col-12 mt-4 mt-lg-0">
            <div class="card shadow h-100">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Reviews</h6>
              </div>
              <div class="card-body pb-0 p-3">
                <ul class="list-group">
                  <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0">
                    <div class="w-100">
                      <div class="d-flex mb-2">
                        <span class="me-2 text-sm font-weight-bold text-dark">Tâches terminées</span>
                        <span class="ms-auto text-sm font-weight-bold">80%</span>
                      </div>
                      <div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-primary w-80" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                    <div class="w-100">
                      <div class="d-flex mb-2">
                        <span class="me-2 text-sm font-weight-bold text-dark">Tâches En cours</span>
                        <span class="ms-auto text-sm font-weight-bold">17%</span>
                      </div>
                      <div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-primary w-10" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                    <div class="w-100">
                      <div class="d-flex mb-2">
                        <span class="me-2 text-sm font-weight-bold text-dark">Tâches Non commencées</span>
                        <span class="ms-auto text-sm font-weight-bold">3%</span>
                      </div>
                      <div>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-primary w-5" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="card-footer pt-0 p-3 d-flex align-items-center">
                <div class="w-60">
                  {# <p class="text-sm">
                    More than <b>1,500,000</b> developers used Creative Tim's products and over <b>700,000</b> projects were created.
                  </p> #}
                </div>
                <div class="w-40 text-end">
                  <a class="btn btn-dark mb-0 text-end" href="{{path('app_projects')}}">View Projects</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-lg-6 col-12 mt-4 mt-lg-0">
            <div class="card shadow h-100">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Reviews tasks</h6>
              </div>
              <div class="card-body pb-0 p-3">
                <ul class="list-group">
                <ul id="task-list">
                  {% for task in tasks %}
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-0 task-item"
                        {% if loop.index > 3 %} style="display: none;" {% endif %}>
                      <div class="w-100">
                        <div class="d-flex mb-2">
                          <span class="me-2 text-sm font-weight-bold text-dark">{{ task.title }}</span>
                          <span class="ms-auto text-sm font-weight-bold random-percentage" data-random>--%</span>
                        </div>
                        <div>
                          <div class="progress progress-md">
                            <div class="progress-bar bg-primary progress-bar-random" role="progressbar" aria-valuemin="10" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <a  class="btn btn-primary mt-3" href="{{path('app_profil')}}">Voir plus</a>
              </div>
              <div class="card-footer pt-0 p-3 d-flex align-items-center">
                <div class="w-60">
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="row my-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Projects</h6>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Projects</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tâches</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Completion</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% if(is_granted('ROLE_ADMIN')) %}
                      {% for project in projects %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img src="{{ asset('uploads/brochures/' ~ project.image)}}" class="avatar avatar-sm me-3" alt="xd">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <a href="{{path('app_project_progress', {id:project.id})}}">
                                  <h6 class="mb-0 text-sm">{{ project.name }}</h6>
                                </a>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="avatar-group mt-2">
                              {% for member in project.getUsers() %}
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ member.firstName }}">
                                  <img src="{{ asset('uploads/brochures/' ~ member.image)}}" style="border-radius:50%;height:30px; width:30px;" alt="team1">
                                </a>
                              {% endfor %}
                            </div>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> {{ project.getTasks().count() }} </span>
                          </td>
                          <td class="align-middle">
                            <div class="progress-wrapper w-75 mx-auto">
                              <div class="progress-info">
                                <div class="progress-percentage">
                                  <span class="text-xs font-weight-bold random-percentage" data-random>--%</span>
                                </div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-info progress-bar-random" role="progressbar" 
                                    aria-valuemin="10" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      {% for project in projectPersonnels %}
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div>
                                <img src="{{ asset('uploads/brochures/' ~ project.image)}}" class="avatar avatar-sm me-3" alt="xd">
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <a href="{{path('app_project_progress', {id:project.id})}}">
                                  <h6 class="mb-0 text-sm">{{ project.name }}</h6>
                                </a>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="avatar-group mt-2">
                              {% for member in project.getUsers() %}
                                <a href="javascript:;" class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ member.firstName }}">
                                  <img src="{{ asset('uploads/brochures/' ~ member.image)}}" style="border-radius:50%;height:30px; width:30px;" alt="team1">
                                </a>
                              {% endfor %}
                            </div>
                          </td>
                          <td class="align-middle text-center text-sm">
                            <span class="text-xs font-weight-bold"> {{ project.getTasks().count() }} </span>
                          </td>
                          <td class="align-middle">
                            <div class="progress-wrapper w-75 mx-auto">
                              <div class="progress-info">
                                <div class="progress-percentage">
                                  <span class="text-xs font-weight-bold random-percentage" data-random>--%</span>
                                </div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-gradient-info progress-bar-random" role="progressbar" 
                                    aria-valuemin="10" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
{% block javascripts %} 
  <script src="{{ asset('assets_dashboard/js/core/popper.min.js') }}"></script>
  <script src="{{ asset('assets_dashboard/js/core/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets_dashboard/js/plugins/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ asset('assets_dashboard/js/plugins/smooth-scrollbar.min.js') }}"></script>
  <script src="{{ asset('assets_dashboard/js/plugins/chartjs.min.js') }}"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 15,
              font: {
                size: 14,
                family: "Inter",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false
            },
            ticks: {
              display: false
            },
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
            label: "Mobile apps",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
            maxBarThickness: 6

          },
          {
            label: "Websites",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#3A416F",
            borderWidth: 3,
            backgroundColor: gradientStroke2,
            fill: true,
            data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
            maxBarThickness: 6
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#b2b9bf',
              font: {
                size: 11,
                family: "Inter",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#b2b9bf',
              padding: 20,
              font: {
                size: 11,
                family: "Inter",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ asset('assets_dashboard/js/soft-ui-dashboard.min.js?v=1.1.0') }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        // Génère un nombre aléatoire entre 10 et 100
        function getRandomPercentage() {
            return Math.floor(Math.random() * (100 - 10 + 1)) + 10;
        }

        // Sélectionne tous les éléments qui doivent recevoir un pourcentage
        let percentages = document.querySelectorAll(".random-percentage");
        let progressBars = document.querySelectorAll(".progress-bar-random");

        percentages.forEach((element, index) => {
            let randomValue = getRandomPercentage();
            element.textContent = randomValue + "%";
            progressBars[index].style.width = randomValue + "%"; // Mise à jour de la barre de progression
        });
    });
  </script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
      // Fonction pour générer un nombre aléatoire entre 10 et 100
      function getRandomPercentage() {
          return Math.floor(Math.random() * (100 - 10 + 1)) + 10;
      }

      // Sélectionne tous les éléments qui doivent recevoir un pourcentage
      let percentages = document.querySelectorAll(".random-percentage");
      let progressBars = document.querySelectorAll(".progress-bar-random");

      percentages.forEach((element, index) => {
          let randomValue = getRandomPercentage();
          element.textContent = randomValue + "%"; // Met à jour l'affichage du pourcentage
          progressBars[index].style.width = randomValue + "%"; // Met à jour la largeur de la barre
      });
  });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    // Fonction pour générer un nombre aléatoire entre 10 et 100
    function getRandomPercentage() {
        return Math.floor(Math.random() * (100 - 10 + 1)) + 10;
    }

    // Sélectionne tous les éléments qui doivent recevoir un pourcentage
    let percentages = document.querySelectorAll(".random-percentage");
    let progressBars = document.querySelectorAll(".progress-bar-random");

    percentages.forEach((element, index) => {
        let randomValue = getRandomPercentage();
        element.textContent = randomValue + "%"; // Met à jour l'affichage du pourcentage
        progressBars[index].style.width = randomValue + "%"; // Met à jour la largeur de la barre
    });
});
</script>




{% endblock %}


